{% extends 'userhome.html' %}
{% block home %}

       <div class="row" style="margin-top:7%;">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h1 class="text-center">Available Phones</h1>
        <div class="row" style="width: 95%;">
          {%for i in data%}
        <div class="col-lg-3">
          <table class="table table-primary">
          <div class="card mt-2" style="height: 700px;">
            <img class="card-img-top" src="{{i.image.url}}" alt="card image cap" style="height: 300px;">
            <div class="card-body">
              <h5 class="card-title">{{i.productname}}</h5>
              <p class="card-title">Price:{{i.price}}</p>
              <p class="card-title">ram:{{i.ram}}</p>
              <p class="card-title">rom:{{i.rom}}</p>
              <p class="card-title">battery:{{i.battery}}</p>
              <p class="card-title">processor:{{i.processor}}</p>
              <div class="card-footer">
                <a href="{% url 'ac' i.id %}" class="btn btn-warning">Add to cart</a>
                <a href="{% url 'buy' i.id %}" class="btn btn-success">Buy</a>
              </div>
              
            </div>
          </div>
           
          </div>
        </div>
        </div>
        </table>
        </div>
        {%endfor%}
      </form>   
      {% endblock home %}